
/* Site and object formatting */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
.background {
    height: 100%;
    width: 100%;    
    background-color: whitesmoke;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.7);
    text-align: center;
    padding: 10px;

}
/* Card formatting */
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card {
    position: relative;
    width: 28%;
    height: 26%;
    max-height: 80vh;
    padding: 20px 10px 45% 10px;
    margin: 1%;
    transform-style: preserve-3d;
    transition: transform 0.5s ease-in-out;
}
.card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.card-front {
    background-size: cover;
}
.card-front .title {
    position: absolute;
    font-size: 1.5rem;
    font-family: "Arial", sans-serif;
    width: 100%;
    bottom: 0;
    background: rgb(0, 0, 0, 0.8);
    color: white;
    text-align: center;
    padding: 5px 0px 5px 0px;
}
.card-back {
    transform: rotateY(180deg);
    background: rgba(0, 0, 0, 0.1);
    display: flex;
    padding: 10px;
    align-items: flex-end;
    justify-content: center;
    box-sizing: border-box;

    font-size: 1.5rem;
    font-family: 'Times New Roman', Times, serif;
}
.card:hover {
    transform: rotateY(180deg);
}
.delete-icon {
    position: absolute;
    width: 25px;
    height: 25px;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
/* Navbar formatting */
.nav {
    padding: 20px;
    background-color: #000000;
    overflow: hidden;
    border-radius: 2px;
}
.nav a {
    font-size: 1.5rem;
    font-weight: 530;
    font-family: 'Arial Narrow', Arial, sans-serif;
    color: whitesmoke;
    text-align: center;
    padding: 1vw;
    display:flexbox;

    text-decoration: none;
}
.nav a:hover {
    background-color: rgba(115, 115, 115, 0.3);
    -webkit-transition: background-color 50ms ease-in;
    transition: background-color 50ms ease-in;
    -webkit-transition-delay: 50ms;
    transition-delay: 50ms;
    color:whitesmoke;
    border-radius: 10px;
}
.nav a:active {
    text-decoration-color: white;
}
div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

/* Text formatting */
.big-text {
    font-size: 1.2rem;
    background-color: lightgray;
    font-family: "Arial";
    color: rgb(0, 0, 0);
    padding: 20px 10rem 20px 10rem;
    justify-content: center;

}
.footer-text {
    font-size: 1rem;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(255, 255, 255);
    padding: 0px 15px 0px 0px;
    text-align: right;
}
.title-text {
    font-size: 2rem;
    font-family: 'Arial', Times, serif;
    color: rgb(0, 0, 0);
    padding: 0px 15px 0px 0px;
    text-align: center;

}

/* List and form formatting */

.list-container {
    padding: 20px;
    background-color: lightgray;
    border-radius: 10px;
    margin: 20px;
}
.add-car {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    margin: auto;
}
.add-car input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.add-car button {
    width: 100%;
    padding: 10px;
    background-color: lightgray;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.add-car button:hover {
    background-color: black;
}
